
/**
 * -----------------------------------------
 * Skinning for the loading splash panel with progress indicator
 * -----------------------------------------
 */
div#splash {
    width: 800px;
    height: 480px;
    top: 60px;
    margin-left: auto;
    margin-right: auto;
    background-size: 800px 480px;
}
div#splash #startup {
    position: relative;
    display: block;
    width: 474px;
    height: 191px;
    padding: 0px;
    top: 96.33333333333333px;
    left: 163px;
    background: url("/assets/images/splash.jpg") no-repeat scroll 0 0px transparent;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px #000000;
    -moz-box-shadow: 0 0 5px #000000;
    box-shadow: 0 0 5px #000000;
}
div#splash #startup .loading {
    display: block;
    position: relative;
    top: 159px;
    width: 100%;
    padding-left: 1px;
    padding-right: 20px;
}
div#splash #startup .loading .progress {
    overflow: hidden;
    width: 472px;
    height: 30px;
    background: transparent;
    text-shadow: #000000 0px 1px 1px;
}
div#splash #startup .loading .progress p {
    position: absolute;
    color: #ffffff;
    top: 6px;
    left: 210px;
}
div#splash #startup .loading .progress h3 {
    margin: 0px;
    top: -5px;
    left: 24px;
    position: absolute;
    font-size: 16px;
    color: #ffffff;
}
div#splash #startup .loading .progress .bar {
    width: 0%;
    background-color: #448844;
    background-image: -moz-linear-gradient(top, #4e9c4e, #356a35);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e9c4e), to(#356a35));
    background-image: -webkit-linear-gradient(top, #4e9c4e, #356a35);
    background-image: -o-linear-gradient(top, #4e9c4e, #356a35);
    background-image: linear-gradient(to bottom, #4e9c4e, #356a35);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e9c4e', endColorstr='#ff356a35', GradientType=0);
}
