.ng-cloak {
  display: none;
}

.hand {
  cursor:pointer
}

#shell-content {
  margin-top: 20px
}

/* Add some air above the description */
p.description {
   margin-top: 10px;
}

/* Ex: "These choices are all free" */
p.optionMessage {
   margin-bottom: 14px;
    font-style: italic;
}

/* Narrow the spacing for the controls.  Bootstrap has margin-bottom: 20px */
.form-horizontal .control-group {
    margin-bottom: 10px;
}

/* Narrow the spacing between radio controls when they are in a table */
td .radio {
    min-height: 16px;
    max-height: 16px;
}

tr.narrow td {
    padding-top: 2px;
    padding-bottom: 0px;
}

.about {
    margin-top:-20px;
    height: 1000px;
    padding-top: 0px;
    background: url(/assets/images/breezeBkgrnd.png);
    background-repeat: repeat-x;
    background-color: #f1f1f1;
}

.tab-pane {
    min-height: 6em;
}

/*** Bootstrap replacements ***/
.navbar-fixed-top {
    position:static; // keeps the top navbar from overlapping the content
}
/* put some horizontal space around the top nav and footer */
.navbar .navbar-inner {
    padding-left:20px;
    padding-right:20px;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
    color: #DDDDDD; //#999999;
}
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus {
    font-size: larger;
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
    font-size: larger;
    font-weight: bold;
}


/***********************************/
/***** Customer List Animation *****/

.customers-animate {
    line-height:40px;
    list-style:none;
    /*box-sizing:border-box;*/
    border-bottom: 1px solid white;
    -webkit-transition: .3s linear all;
    transition: .3s linear all;
}

.customers-animate.ng-leave.ng-leave-active,
.customers-animate.ng-move,
.customers-animate.ng-enter {

    opacity: 0;
    max-height:0;
}

.customers-animate.ng-leave,
.customers-animate.ng-move.ng-move-active,
.customers-animate.ng-enter.ng-enter-active {
    opacity: 1.0;
    max-height:40px;
}



/***********************************/
/***** Order Sidebar Animations ****/

.well.animated, .well.animated.cart  {
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}
.well.animated.cart {
    background-color: rgb(199, 235, 199);
    padding-bottom: 40px;
}

.well.animated.ng-hide-remove, .well.animated.ng-hide-add,
.well.animated.cart.ng-hide-remove, .well.animated.cart.ng-hide-add {
    display: block !important;
}


.well.animated.ng-hide-remove, .well.animated.ng-hide-add.ng-hide-add-active,
.well.animated.cart.ng-hide-remove, .well.animated.cart.ng-hide-add.ng-hide-add-active {
    opacity: 0.0;
}

.well.animated.ng-hide-add, .well.animated.ng-hide-remove.ng-hide-remove-active,
.well.animated.cart.ng-hide-add, .well.animated.cart.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.orderItem-animate {
    line-height:40px;
    list-style:none;
    /*box-sizing:border-box;*/
    border-bottom: 1px solid white;
    -webkit-transition: 0.25s all;
    -moz-transition: 0.25s all;
    -ms-transition: 0.25s all;
    -o-transition: 0.25s all;
    transition: 0.25s all;
}

.orderItem-animate.ng-leave.ng-leave-active,
.orderItem-animate.ng-move,
.orderItem-animate.ng-enter {

    opacity:0;
    max-height:0;
}

.orderItem-animate.ng-leave,
.orderItem-animate.ng-move.ng-move-active,
.orderItem-animate.ng-enter.ng-enter-active {
    opacity:1;
    max-height:40px;
}
