.ng-cloak {
  display: none;
}

html  {
    overflow-y:hidden;
}


.hand {
  cursor:pointer
}

.content {
  margin-top: 20px
}

/* Add some air above the description */
p.description {
   margin-top: 10px;
}

/* Ex: "These choices are all free" */
p.optionMessage {
   margin-bottom: 14px;
    font-style: italic;
}

/* Narrow the spacing for the controls.  Bootstrap has margin-bottom: 20px */
.form-horizontal .control-group {
    margin-bottom: 10px;
}

/* Narrow the spacing between radio controls when they are in a table */
td .radio {
    min-height: 16px;
    max-height: 16px;
}

tr.narrow td {
    padding-top: 2px;
    padding-bottom: 0px;
}

.about {
    margin-top:-20px;
    height: 1000px;
    padding-top: 0px;
    background: url(/assets/images/breezeBkgrnd.png);
    background-repeat: repeat-x;
    background-color: #f1f1f1;
}

.tab-pane {
    min-height: 6em;
}

/*** Bootstrap replacements ***/
.navbar-fixed-top {
    position:static; // keeps the top navbar from overlapping the content
}
/* put some horizontal space around the top nav and footer */
.navbar .navbar-inner {
    padding-left:20px;
    padding-right:20px;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
    color: #DDDDDD; //#999999;
}
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus {
    font-size: larger;
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
    font-size: larger;
    font-weight: bold;
}


.loading h2 {
    color: green;
}

.search-query {
    width: 89%;
}

/**
 * -----------------------------------------
 * Skinning for the loading splash panel with progress indicator
 * -----------------------------------------
 */
div#splash {
    width: 800px;
    height: 480px;
    top: 60px;
    margin-left: auto;
    margin-right: auto;
    background-size: 800px 480px;
}
div#splash #startup {
    position: relative;
    display: block;
    width: 474px;
    height: 191px;
    padding: 0px;
    top: 96.33333333333333px;
    left: 163px;
    background: url("/assets/images/splash.jpg") no-repeat scroll 0 0px transparent;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px #000000;
    -moz-box-shadow: 0 0 5px #000000;
    box-shadow: 0 0 5px #000000;
}
div#splash #startup .loading {
    display: block;
    position: relative;
    top: 159px;
    width: 100%;
    padding-left: 1px;
    padding-right: 20px;
}
div#splash #startup .loading .progress {
    overflow: hidden;
    width: 472px;
    height: 30px;
    background: transparent;
    text-shadow: #000000 0px 1px 1px;
}
div#splash #startup .loading .progress p {
    position: absolute;
    color: #ffffff;
    top: 6px;
    left: 210px;
}
div#splash #startup .loading .progress h3 {
    margin: 0px;
    top: -5px;
    left: 24px;
    position: absolute;
    font-size: 16px;
    color: #ffffff;
}
div#splash #startup .loading .progress .bar {
    width: 0%;
    background-color: #448844;
    background-image: -moz-linear-gradient(top, #4e9c4e, #356a35);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e9c4e), to(#356a35));
    background-image: -webkit-linear-gradient(top, #4e9c4e, #356a35);
    background-image: -o-linear-gradient(top, #4e9c4e, #356a35);
    background-image: linear-gradient(to bottom, #4e9c4e, #356a35);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e9c4e', endColorstr='#ff356a35', GradientType=0);
}
