<div>
    <h2>Order Drinks</h2>
    <p>You'll be thirsty after all that pizza so be sure to get plenty of cold drinks.</p>
    <div>
        <div class="row-fluid" data-ng-repeat="product in vm.products" >
            <div data-ng-click="vm.showDetails(product)" >
                <div class="span3">
                    <a class="hand">
                        <img data-product-img-src="{{product.image}}" />
                    </a>
                </div>
                <div class="span9">
                    <h3><a class="hand">{{product.name}}</a> &nbsp;</h3>
                    <p>{{product.description}}</p>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>
